    <!-- Download Section -->
    <section id="Co" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Co</h2>
                    <p>And the kids sit at many intersections...</p>
                    <!--
                    <a href="https://kate.rohanandkate.net/" class="btn btn-default btn-lg">Read more</a>
                    <a href="https://twitter.com/kedmeades" class="btn btn-default btn-lg">Follow @kedmeades</a>
                    -->
                </div>
            </div>
        </div>
    </section>
